Package: com.unlimapps.uaunbox
Name: UAUnbox
Depends: com.rpetrich.rocketbootstrap
Version: 0.0.2
Architecture: iphoneos-arm
Description: UAUnbox makes it possible to actually execute filesystem operations as if under user root. A Port of H2CO3's Unbox for iOS 7 and arm64
Maintainer: UnlimApps Inc
Author: UnlimApps Inc
Section: System
Tag: role::hacker